---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
	hideDates={true}
>
	<p class="mb-4">
		Meet me, <span class="font-bold text-yellow-400">Roopesh Patel</span>, aka Roopsbee, aka Roops, a curious
		individual on a quest to explore the world of software development and beyond. With a strong background in
		front-end web development, I'm currently honing those skills full-time with <span
			class="font-bold text-teal-500">Next.js</span
		> and<span class="font-bold text-blue-500"> TypeScript</span>, while constantly seeking new ways to improve
		myself, from moving from vscode to
		<span class="font-bold text-green-500">Neovim</span>, to jumping on the
		<span class="font-bold text-orange-500">Linux</span> train.
	</p><p class="mb-4">
		My interests extend far beyond just one language or framework - I'm also invested in exploring new technologies
		and currently experimenting with the excellent language<span class="font-bold text-red-500"> Rust</span>.
	</p><p class="mb-4">
		As a software developer, my ultimate goal is to work on projects that make a positive impact the world. I often
		ask myself, <span class="font-bold text-yellow-500"> if i'm not helping, what am I doing?</span>
	</p>
	<p class="mb-4">
		In short, I'm a passionate, curious, and driven individual who loves nothing more than exploring the vast and
		exciting world around me, <span class="font-bold text-teal-500"> one line of code,</span>
		<span class="font-bold text-blue-500">one thought,</span>
		<span class="font-bold text-green-500"> one idea at a time.</span>
	</p>
	<p class="mb-4">
		Of course there is <span class="font-bold text-orange-500">more to life than just code.</span> I dabble in martial
		arts, go on the occasional hike, ride slow at extreme speed on my bike, and pretend to be a professional chess player
		when I can find a game.
		<span class="font-bold text-yellow-500">Get in touch</span> if any of that stikes a chord. I'm extremely modest and
		love to chat.
	</p>
</Layout>
