---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../layouts/Body.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main>
      <p class="text-lg mt-10">
        Welcome to the <span class="font-bold text-yellow-500">Bee Stack</span> blog.
        Where I share my <span class="font-bold text-yellow-500">thoughts</span>
        and <span class="font-bold text-yellow-500">learnings</span> as I journey
        through software development.
      </p>
    </main>
    <Footer />
  </Body>
</html>
