---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../layouts/Body.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
import HeroImage from '../assets/images/hero-bee-stack-01.png';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main>
			<Image
				src={HeroImage}
				widths={[240, 540, 720, 1024, HeroImage.width]}
				alt="Man in hoodie wearing headphones in a mystical forest. Working on a laptop with bees around him and a distant futuristic city visible through the trees"
				quality="mid"
			/>
			<p class="mt-10 text-lg">
				Welcome to the <span class="font-bold text-yellow-400">Bee Stack</span> blog. Where I share my <span
					class="font-bold text-yellow-400">thoughts</span
				>
				and <span class="font-bold text-yellow-400">learnings</span> as I journey through software development.
			</p>
		</main>
		<Footer />
	</Body>
</html>
