---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import github from "../assets/images/github-mark-white.svg";
import linkedin from "../assets/images/LI-In-Bug.png";
---

<header class="flex my-4 items-center">
  <h2 class="font-bold text-yellow-500 mr-6 whitespace-nowrap">
    {SITE_TITLE}
  </h2>
  <nav class="flex gap-4 items-center w-full">
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <a
      class="ml-auto shrink-0"
      href="https://github.com/roopsbee"
      target="_blank"
    >
      <img class="h-6" src={github} alt="Github Link" />
    </a>
    <a
      class="shrink-0"
      href="https://linkedin.com/in/roopesh-patel-51a448145/"
      target="_blank"
    >
      <img class="h-6 min-w-full" src={linkedin} alt="Github Link" />
    </a>
  </nav>
</header>
